{% extends 'base.html.twig' %}

{% block title %}Hello BoutiqueController!{% endblock %}

{% block body %}
<section class="mb-auto px-8 py-10 lg:p-20">
    <div class="container mx-auto">
        <h2 class="text-xl sm:text-2xl font-semibold mb-10 uppercase text-darkblue text-center lg:text-left "> Rechercher un produit</h2>
        <div class="flex flex-col lg:flex-row space-y-3  lg:space-y-0 lg:space-x-10 justify-center items-center lg:justify-start">
            <form action="" class="flex flex-col lg:flex-row space-y-2 lg:space-x-6" method="POST">
                <div class="">
                    <input value="" class="border rounded-lg border-darkgrey py-2 px-4 outline-orange shadow-lg text-sm sm:text-base" placeholder="Rechercher par mot-clé" type="text" name="keyword" id="keyword" required>
                </div>
                <input type="submit" name="keyword_form" value="Rechercher" class="font-semibold text-sm sm:text-base uppercase tracking-wider hover-text-orange ">
                </input>
            </form>
            <p class="font-semibold text-xl sm:text-2xl text-orange text-center">OU</p>
            <form action="" class="" method="POST">
                <div class="">
                    <select value="" class="text-sm sm:text-base border rounded-lg border-darkgrey py-2 px-4  outline-orange shadow-lg bg-white" name="searchByStore" id="searchByStore" onchange="this.form.submit()" required>
                        <option class="" value="">-- Sélectionner un magasin --</option>
                        
                            <option class="capitalize" value="<?= $one_store->getId(); ?>"></option>
                        
                    </select>
                </div>
            </form>
        </div>

        <p class="font-semibold text-center lg:text-left text-xl mt-10 mb-5">Filtrer par prix</p>
        <form action="" class="flex flex-col lg:flex-row justify-center items-center lg:justify-start space-y-4 lg:space-y-0 lg:space-x-6 lg:mt-6" method="POST">
            <div class="">
                <input value="" class="text-sm sm:text-base border rounded-lg border-darkgrey py-2 px-4 outline-orange shadow-lg" placeholder="Prix MIN (en €)" type="text" name="min_price" id="min_price" required>
            </div>
            <div class="">
                <input value="" class="text-sm sm:text-base border rounded-lg border-darkgrey py-2 px-4 outline-orange shadow-lg" placeholder="Prix MAX (en €)" type="text" name="max_price" id="max_price" required>
            </div>
            <input type="submit" name="price_form" value="Filtrer" class="font-semibold text-sm sm:text-base uppercase tracking-wider hover-text-orange">
            </input>
        </form>
        
    </div>
    <hr class="block mx-auto  border-darkgrey border-t-0 border-b-2 mt-10" />
</section>
<!-- </section> -->
<!-- Contenu de la page -->
<section class="p-20">
    <div class="container mx-auto grid gap-y-5">
        <h2 class="uppercase text-darkblue font-semibold text-3xl text-center">Découvrez nos produits classés par catégories</h2>

        <div class="container mx-auto p-28 grid grid-cols-2 gap-12">

                <div class="flex space-x-10">
                    <img class=" h-[170px] w-[200px]" src="https://images.unsplash.com/photo-1573866926487-a1865558a9cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNvdWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="Table_basse">
                    <div class="flex flex-col space-y-3">
                        <a href="category.php" class="text-2xl uppercase text-orange">Tables</a>
                        <hr class="border-darkgrey border-t-0 border-b-2 mb-32" />
                        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ab distinctio quasi? Ducimus fugit ut recusandae! Doloribus, suscipit? Minima beatae reprehenderit quae dolore facere totam maiores aliquid, deserunt sint eos?</p>
                    </div>
                </div>
                <div class="flex space-x-10">
                    <img class=" h-[170px] w-[200px]" src="https://images.unsplash.com/photo-1573866926487-a1865558a9cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNvdWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="Table_basse">
                    <div class="flex flex-col space-y-3">
                        <a href="category.php" class="text-2xl uppercase text-orange">Tables</a>
                        <hr class="border-darkgrey border-t-0 border-b-2 mb-32" />
                        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ab distinctio quasi? Ducimus fugit ut recusandae! Doloribus, suscipit? Minima beatae reprehenderit quae dolore facere totam maiores aliquid, deserunt sint eos?</p>
                    </div>
                </div>

                <div class="flex space-x-10">
                    <img class=" h-[170px] w-[200px]" src="https://images.unsplash.com/photo-1573866926487-a1865558a9cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNvdWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="Table_basse">
                    <div class="flex flex-col space-y-3">
                        <a href="category.php" class="text-2xl uppercase text-orange">Tables</a>
                        <hr class="border-darkgrey border-t-0 border-b-2 mb-32" />
                        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ab distinctio quasi? Ducimus fugit ut recusandae! Doloribus, suscipit? Minima beatae reprehenderit quae dolore facere totam maiores aliquid, deserunt sint eos?</p>
                    </div>
                </div>
                <div class="flex space-x-10">
                    <img class=" h-[170px] w-[200px]" src="https://images.unsplash.com/photo-1573866926487-a1865558a9cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNvdWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="Table_basse">
                    <div class="flex flex-col space-y-3">
                        <a href="category.php" class="text-2xl uppercase text-orange">Tables</a>
                        <hr class="border-darkgrey border-t-0 border-b-2 mb-32" />
                        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ab distinctio quasi? Ducimus fugit ut recusandae! Doloribus, suscipit? Minima beatae reprehenderit quae dolore facere totam maiores aliquid, deserunt sint eos?</p>
                    </div>
                </div>

                <div class="flex space-x-10">
                    <img class=" h-[170px] w-[200px]" src="https://images.unsplash.com/photo-1573866926487-a1865558a9cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNvdWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="Table_basse">
                    <div class="flex flex-col space-y-3">
                        <a href="category.php" class="text-2xl uppercase text-orange">Tables</a>
                        <hr class="border-darkgrey border-t-0 border-b-2 mb-32" />
                        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ab distinctio quasi? Ducimus fugit ut recusandae! Doloribus, suscipit? Minima beatae reprehenderit quae dolore facere totam maiores aliquid, deserunt sint eos?</p>
                    </div>
                </div>
                <div class="flex space-x-10">
                    <img class=" h-[170px] w-[200px]" src="https://images.unsplash.com/photo-1573866926487-a1865558a9cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNvdWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="Table_basse">
                    <div class="flex flex-col space-y-3">
                        <a href="category.php" class="text-2xl uppercase text-orange">Tables</a>
                        <hr class="border-darkgrey border-t-0 border-b-2 mb-32" />
                        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ab distinctio quasi? Ducimus fugit ut recusandae! Doloribus, suscipit? Minima beatae reprehenderit quae dolore facere totam maiores aliquid, deserunt sint eos?</p>
                    </div>
                </div> 

        </div>

    </div>
</section>
{% endblock %}
